.about-us {
  @include page-grid;

  &__content {
    margin: 0;
    line-height: 140%;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
      margin-top: 120px;
    }

    @include on-desktop {
      grid-column: 7 / 12;
      margin-top: 120px;
    }
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
      margin-top: 120px;
    }

    @include on-desktop {
      grid-column: 1 / 7;
      margin-top: 120px;
    }
  }
}
