.main {
  background-color: $main-background-color;
  margin-bottom: 120px;

  @include on-tablet {
    margin-bottom: 102px;
  }

  @include on-desktop {
    margin-bottom: 164px;
  }

  &__content {
    display: grid;
    row-gap: 92px;
    padding-block: 92px;

    @include on-tablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }
}
