.contacts {
  @include page-grid;

  &__title {
    grid-column: 1 / span 2;
    text-align: center;

    @include on-tablet {
      grid-column: 1 / span 6;
      text-align: center;
    }

    @include on-desktop {
      grid-column: 1 / span 12;
      text-align: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    grid-column: 1 / span 2;
    margin: auto;
    margin-bottom: 48px;
    width: 280px;

    @include on-tablet {
      grid-column: 1 / span 3;
      margin: initial;
    }

    @include on-desktop {
      grid-column: 1 / span 5;
      margin: initial;
    }
  }

  &__input {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-left: 16px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 40px;
    background-color: #f8f8fa;
    border: 0;

    @include on-tablet {
      width: 288px;
    }

    @include on-desktop {
      width: 411px;
    }

    &:hover {
      border: 1px solid #d5d7de;
    }

    &:active {
      border: 1px solid #292929;
      color: #292929;
    }

    &:focus {
      outline: none;
      border: none;
    }
  }

  &__message {
    font-family: Poppins, sans-serif;
    width: 280px;
    height: 148px;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 14px 16px;
    margin-bottom: 32px;
    background-color: #f8f8fa;
    border: 0;
    resize: none;

    @include on-tablet {
      width: 100%;
    }

    @include on-desktop {
      width: 411px;
    }

    &:hover {
      border: 1px solid #d5d7de;
    }

    &:active {
      color: #292929;
      border: 1px solid #292929;
    }

    &:focus {
      outline: none;
      border: none;
    }
  }

  &__info {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;

    @include on-tablet {
      grid-column: 4 / span 3;
    }

    @include on-desktop {
      grid-column: 8 / span 3;
    }

    &-title {
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0;
      margin-bottom: 8px;
    }

    &-item {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0;
      margin-bottom: 24px;
      text-decoration: none;
      color: $main-text-color;

       &:hover {
      color: #e8e8f066;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #fff;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;

    width: 280px;
    height: 56px;

    @include on-tablet {
      width: 288px;
      align-self: flex-start;
    }

    @include on-desktop {
      width: 411px;
    }

    &:hover {
      box-shadow: $hover-shadow;
    }

    &:active {
      box-shadow: $active-shadow;
    }
  }
}
}

