.details {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 64px;
    }
  }

  &__button {
    grid-column: 1 / span 2;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 40px;
    cursor: pointer;

    width: 278px;
    height: 56px;

    @include on-tablet {
      margin-left: initial;
      margin-right: initial;
      width: 392px;
      grid-column: 2 / span 4;
    }

    @include on-desktop {
      margin-left: initial;
      margin-right: initial;
      width: 324px;
      grid-column: 5 / span 4;
    }

    &--link {
      padding-left: 48px;
      padding-right: 48px;
      display: inline-block;
      color: $menu-text-color;
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0;
    }

    &:hover {
      box-shadow: $hover-shadow;
    }

    &:active {
      box-shadow: $active-shadow;
    }
  }
}

.button-grid {
  @include page-grid;
}

.detail {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__link {
    position: relative;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

    @include hover(transform, scale(1.2));
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__article {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 48px;
    }
  }
}
