.header {
  background-image: url(../images/Cover_photo.png);
  background-size: cover;
  background-position: right;

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;

    @include on-tablet {
      font-size: 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }
}
