.container {
  padding-inline: 20px;
}

@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.page {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 140%;
  scroll-behavior: smooth;
}

.page:has(.page__menu:target) {
overflow: hidden; /* не прокручувати сторінку */
}

.page__body {
  margin: 0;
  min-width: 320px;
  background-color: #1d1d1d;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all 0.3s;
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

.page__footer {
  position: sticky;
  background-image: url(../images/footer.png);
  height: 200px;
  background-size: cover;
  background-position: right;
  bottom: 0;
  z-index: -1;
}

@media (min-width: 576px) {
  .page__footer {
    height: 480px;
  }
}

@media (min-width: 1024px) {
  .page__footer {
    height: 555px;
  }
}

.header {
  background-image: url(../images/Cover_photo.png);
  background-size: cover;
  background-position: -300px 0;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  .header {
    background-position: center;
    background-repeat: no-repeat;
  }
}

.header__title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}

@media (min-width: 576px) {
  .header__title {
    font-size: 64px;
    margin-bottom: 130px;
  }
}

@media (min-width: 1024px) {
  .header__title {
    font-size: 80px;
    margin-bottom: 203px;
  }
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header__bottom {
  padding-bottom: 40px;
}

@media (min-width: 576px) {
  .header__bottom {
    padding-bottom: 64px;
  }
}

.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 576px) {
  .top-bar {
    padding-block: 64px;
  }
}

.top-bar__icons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.top-bar__logo-link {
  display: flex;
  align-items: center;
  line-height: 0;
}

.top-bar__logo {
  height: 38px;
  transition: transform 0.3s;
}

@media (min-width: 576px) {
  .top-bar__logo {
    height: 56px;
  }
}

.top-bar__logo:hover {
  transform: scale(1.2);
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #c2c2c2;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .menu__top {
    margin-bottom: 0;
  }
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__phone-number {
  display: block;
  margin-bottom: 16px;
  color: #1d1d1d;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
}

.menu__call-to-order {
  display: block;
  width: fit-content;
  color: #1d1d1d;
  text-decoration: none;
  padding-bottom: 7px;
  border: bottom 1px solid #1d1d1d;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  position: relative;
  color: #1d1d1d;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: -8px;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #1d1d1d;
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: left;
}

.nav__link:hover::after {
  transform: scale(1);
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;
  margin: 0;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

@media (min-width: 576px) {
  .icon {
    height: 32px;
    width: 32px;
  }
}

.icon--phone {
  position: relative;
  background-image: url(../images/Icon-Phone.svg);
}

.icon--phone::after {
  content: '+1 234 555-55-55';
  position: absolute;
  transform: translateY(-50%);
  white-space: nowrap;
  right: 56px;
  top: 50%;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: right;
  vertical-align: middle;
  text-transform: uppercase;
}

.icon--phone:hover::after {
  opacity: 1;
}

.icon--menu {
  background-image: url(../images/Icon-Burger-menu.svg);
}

.icon--menu:hover {
  background-image: url(../images/Icon-Burger-menu-hover.svg);
}

.icon--close {
  background-image: url(../images/Icon-Close.svg);
}

.section-title {
  margin: 92px 0 0;
  margin-bottom: 48px;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: #fff;
}

@media (min-width: 576px) {
  .section-title {
    margin-bottom: 64px;
    font-size: 48px;
  }
}

.section-title__margin-top {
  margin-top: 60px;
}

.main {
  background-color: #1d1d1d;
   margin-bottom: 120px;
  }

  @media (min-width: 576px) {
    .main {
      margin-bottom: 102px;
    }
  }

 @media (min-width: 1024px) {
   .main {
    margin-bottom: 164px;
    }
 }

.main__content {
  display: grid;
  row-gap: 92px;
  padding-block: 92px;
}

@media (min-width: 576px) {
  .main__content {
    padding-block: 120px;
    row-gap: 120px;
  }
}

.product__photo {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s;
}

.product__photo:hover {
  transform: scale(1.2);
}

.compare-bikes__products {
  --columns: 2;

  display: grid;

  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
}

@media (min-width: 576px) {
  .compare-bikes__products {
    --columns: 6;

    column-gap: 24px;
  }
}

@media (min-width: 1024px) {
  .compare-bikes__products {
    --columns: 12;

    row-gap: 40px;
  }
}

.compare-bikes__product {
  grid-column: 1/-1;
}

@media (min-width: 576px) {
  .compare-bikes__product {
    grid-column: 2/-2;
  }
}

@media (min-width: 1024px) {
  .compare-bikes__product {
    grid-column: span 4;
  }
}

.about-us {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
}

@media (min-width: 576px) {
  .about-us {
    --columns: 6;

    column-gap: 24px;
  }
}

@media (min-width: 1024px) {
  .about-us {
    --columns: 12;
  }
}

.about-us__content {
  margin: 0;
  line-height: 140%;
  grid-column: 1/-1;
}

@media (min-width: 576px) {
  .about-us__content {
    grid-column: 4/7;
    margin-top: 120px;
  }
}

@media (min-width: 1024px) {
  .about-us__content {
    grid-column: 7/12;
    margin-top: 120px;
  }
}

.about-us__title {
  grid-column: 1/-1;
}

@media (min-width: 576px) {
  .about-us__title {
    grid-column: 1/4;
    margin-top: 120px;
  }
}

@media (min-width: 1024px) {
  .about-us__title {
    grid-column: 1/7;
    margin-top: 120px;
  }
}

.details__wrapper {
  display: grid;
  row-gap: 40px;
}

@media (min-width: 576px) {
  .details__wrapper {
    row-gap: 64px;
  }
}

.details__button {
  grid-column: 1 / span 2;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 40px;
  cursor: pointer;
  width: 278px;
  height: 56px;
}

@media (min-width: 576px) {
  .details__button {
    margin-left: initial;
    margin-right: initial;
    width: 392px;
    grid-column: 2 / span 4;
  }
}

@media (min-width: 1024px) {
  .details__button {
    margin-left: initial;
    margin-right: initial;
    width: 324px;
    grid-column: 5 / span 4;
  }
}

.details__button--link {
  padding-left: 48px;
  padding-right: 48px;
  display: inline-block;
  color: #1d1d1d;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
}

.details__button:hover {
  box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
}

.details__button:active {
  box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
}

.button-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
}

@media (min-width: 576px) {
  .button-grid {
    --columns: 6;

    column-gap: 24px;
  }
}

@media (min-width: 1024px) {
  .button-grid {
    --columns: 12;
  }
}

.detail__photos {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
}

@media (min-width: 576px) {
  .detail__photos {
    --columns: 6;

    column-gap: 24px;
  }
}

@media (min-width: 1024px) {
  .detail__photos {
    --columns: 12;

    margin-bottom: 16px;
  }
}

.detail__link {
  position: relative;
}

@media (min-width: 576px) {
  .detail__link--wide {
    grid-column: span 4;
  }
}

@media (min-width: 1024px) {
  .detail__link--wide {
    grid-column: span 8;
  }
}

.detail__link--square {
  height: 0;
  padding-bottom: 100%;
}

@media (min-width: 576px) {
  .detail__link--square {
    grid-column: span 2;
  }
}

@media (min-width: 1024px) {
  .detail__link--square {
    grid-column: span 4;
  }
}

.detail__link:hover {
  z-index: 1;
}

.detail__photo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s;
}

.detail__photo:hover {
  transform: scale(1.07);
}

.detail__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}

.detail__article {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  margin-bottom: 40px;
}

@media (min-width: 576px) {
  .detail__article {
    margin-bottom: 48px;
  }
}

.contacts {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
}

@media (min-width: 576px) {
  .contacts {
    --columns: 6;

    column-gap: 24px;
  }
}

@media (min-width: 1024px) {
  .contacts {
    --columns: 12;
  }
}

.contacts__title {
  grid-column: 1 / span 2;
  text-align: center;
}

@media (min-width: 576px) {
  .contacts__title {
    grid-column: 1 / span 6;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .contacts__title {
    grid-column: 1 / span 12;
    text-align: center;
  }
}

.contacts__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  grid-column: 1 / span 2;
  margin: auto;
  margin-bottom: 48px;
  width: 280px;
}

@media (min-width: 576px) {
  .contacts__form {
    grid-column: 1 / span 3;
    margin: initial;
  }
}

@media (min-width: 1024px) {
  .contacts__form {
    grid-column: 1 / span 5;
    margin: initial;
  }
}

.contacts__input {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-left: 16px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 40px;
  background-color: #f8f8fa;
  border: 0;
}

@media (min-width: 576px) {
  .contacts__input {
    width: 288px;
  }
}

@media (min-width: 1024px) {
  .contacts__input {
    width: 411px;
  }
}

.contacts__input:hover {
  border: 1px solid #d5d7de;
}

.contacts__input:active {
  border: 1px solid #292929;
}

.contacts__input:focus {
  outline: none;
  border: none;
}

.contacts__message {
  font-family: Poppins, sans-serif;
  width: 280px;
  height: 148px;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 14px 16px;
  margin-bottom: 32px;
  background-color: #f8f8fa;
  border: 0;
  resize: none;
}

@media (min-width: 576px) {
  .contacts__message {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .contacts__message {
    width: 411px;
  }
}

.contacts__message:hover {
  border: 1px solid #d5d7de;
}

.contacts__message:active {
  border: 1px solid #292929;
}

.contacts__message:focus {
  outline: none;
  border: none;
}

.contacts__info {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .contacts__info {
    grid-column: 4 / span 3;
  }
}

@media (min-width: 1024px) {
  .contacts__info {
    grid-column: 8 / span 3;
  }
}

.contacts__info-title {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0;
  margin-bottom: 8px;
}

.contacts__info-item {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  margin-bottom: 24px;
  text-decoration: none;
  color: #fff;
}

.contacts__info-item:hover {
  color: #e8e8f066;
}


.contacts__button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #fff;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
  width: 280px;
  height: 56px;
}

@media (min-width: 576px) {
  .contacts__button {
    width: 288px;
    align-self: flex-start;
  }
}

@media (min-width: 1024px) {
  .contacts__button {
    width: 411px;
  }
}

.contacts__button:hover {
  box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
}

.contacts__button:active {
  box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
}

/*# sourceMappingURL=main.css.map */
