.main {
  background-color: $main-background-color;

  &__contetn {
    display: grid;
    row-gap: 92px;
    padding-block: 92px;

    @include on-tablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }
}
