@import './utils/variables';
@import './utils/mixins';
@import './page';
@import './header';
@import './top-bar';
@import './menu';
@import './nav';
@import './icon';
@import './section-title';
@import './content';
@import './product';
@import './compare-bikes';
@import './about-us';
@import './details';
@import './contacts';
