.menu {
  box-sizing: border-box;
  height: 100vh;
  padding: 24px 20px 40px;
  background-color: #c2c2c2;
  font-weight: 600;
  text-transform: uppercase;

  &__top {
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;
    color: $menu-text-color;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
  }

  &__call-to-order {
    display: block;
    width: fit-content;
    color: $menu-text-color;
    text-decoration: none;
    padding-bottom: 7px;
    border: bottom 1px solid $menu-text-color;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
  }
}
