.page {
  font-family: Poppins, sans-serif;
  color: $main-text-color;
  font-size: 16px;
  line-height: 140%;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    min-width: 320px;
    background-color: $main-background-color;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.3s;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }

  &__footer {
    background-image: url(../images/footer.png);
    height: 200px;
    background-size: cover;
    background-position: right;
    bottom: 0;
    margin-top: 120px;
    z-index: 1;

    @include on-tablet {
      height: 480px;
      margin-top: 102px;
    }

    @include on-desktop {
      height: 555px;
      margin-top: 164px;
    }
  }
}
