.section-title {
  margin: 92px 0 0;
  margin-bottom: 48px;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: $main-text-color;

  @include on-tablet {
    margin-bottom: 64px;
    font-size: 40px;
  }

  @include on-desktop {
    font-size: 48px;
  }

  &__margin-top {
    margin-top: 60px;
  }
}
