$main-text-color: #fff;
$menu-text-color: #1d1d1d;
$main-background-color: #1d1d1d;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$hover-shadow: 1px 4px 16px 0 #e8e8f066;
$active-shadow: 1px 4px 16px 0 #e8e8f0a3;
